In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Guerrero Negro,27.9769,-114.0611,75.07,59,4,17.36,MX,2022-07-14 22:11:07
1,1,Champerico,14.3000,-91.9167,83.62,75,91,8.72,GT,2022-07-14 22:11:07
2,2,Port Lincoln,-34.7333,135.8667,50.16,63,68,12.86,AU,2022-07-14 22:06:42
3,3,Atuona,-9.8000,-139.0333,77.58,70,8,14.58,PF,2022-07-14 22:07:29
4,4,Tasiilaq,65.6145,-37.6368,48.36,71,100,7.31,GL,2022-07-14 22:09:55

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Guerrero Negro,27.9769,-114.0611,75.07,59,4,17.36,MX,2022-07-14 22:11:07
1,1,Champerico,14.3000,-91.9167,83.62,75,91,8.72,GT,2022-07-14 22:11:07
3,3,Atuona,-9.8000,-139.0333,77.58,70,8,14.58,PF,2022-07-14 22:07:29
5,5,Vaini,-21.2000,-175.2000,80.76,89,20,10.36,TO,2022-07-14 22:11:08
7,7,Isangel,-19.5500,169.2667,76.93,78,10,6.08,VU,2022-07-14 22:11:08
9,9,Zhoucun,36.8167,117.8167,78.76,81,92,1.14,CN,2022-07-14 22:11:09
11,11,Rodrigues Alves,-7.7380,-72.6509,79.59,74,98,3.36,BR,2022-07-14 22:11:10
13,13,Kapaa,22.0752,-159.3190,84.18,75,100,16.11,US,2022-07-14 22:11:10
15,15,Shimoda,34.6667,138.9500,75.11,88,77,4.47,JP,2022-07-14 22:11:11
17,17,Bandarbeyla,9.4942,50.8122,78.15,80,98,31.63,SO,2022-07-14 22:11:11

In [14]:
preferred_cities_df.count()

City_ID       189
City          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
Country       189
Date          189
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0    Guerrero Negro      MX     75.07  27.9769 -114.0611
1        Champerico      GT     83.62  14.3000  -91.9167
3            Atuona      PF     77.58  -9.8000 -139.0333
5             Vaini      TO     80.76 -21.2000 -175.2000
7           Isangel      VU     76.93 -19.5500  169.2667
9           Zhoucun      CN     78.76  36.8167  117.8167
11  Rodrigues Alves      BR     79.59  -7.7380  -72.6509
13            Kapaa      US     84.18  22.0752 -159.3190
15          Shimoda      JP     75.11  34.6667  138.9500
17      Bandarbeyla      SO     78.15   9.4942   50.8122

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Guerrero Negro,MX,75.07,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
1,Champerico,GT,83.62,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
3,Atuona,PF,77.58,-9.8000,-139.0333,Villa Enata
5,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
7,Isangel,VU,76.93,-19.5500,169.2667,Tanna Lodge
9,Zhoucun,CN,78.76,36.8167,117.8167,Zibo Changxin Hotel
11,Rodrigues Alves,BR,79.59,-7.7380,-72.6509,Pousada Aconchego
13,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
15,Shimoda,JP,75.11,34.6667,138.9500,Shimoda Tokyu Hotel
17,Bandarbeyla,SO,78.15,9.4942,50.8122,JABIR HOTEL

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))